body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #036d2a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    max-width: 1000px;
}

.left-panel,
.right-panel {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-panel {
    flex: 1;
    border-right: 1px solid #ccc;
    max-width: 400px;
}

.right-panel {
    flex: 2;
    width: 100%;
}

h2 {
    margin-top: 0;
    color: #036d2a;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="number"],
select,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #036d2a;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #02481a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #036d2a;
    color: #fff;
}

td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #036d2a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.btn-back {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d20202;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-back:hover {
    background-color:#f78181;
}